<h1>Edit Exchange Rate</h1>

<form action="/exchange-rates/edit/<%= exchangeRate.id %>" method="post">
    <label for="name">Rate:</label>
    <input type="number" name="rate" value="<%= exchangeRate.rate %>" required>
    <button type="submit">Save</button>
</form>