<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body>

<header>
    <%- include('common/header', { isAuthenticated: isAuthenticated }) %>
</header>

<main>
    <h1>Currency Exchange</h1>

    <p>
        <a href="/currencies">Currencies</a> |
        <a href="/exchange-rates">Exchange Rates</a>
    </p>
</main>

</body>
</html>

