<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body>

<main>
    <h1>Login</h1>

    <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
</main>

</body>
</html>
